# Compiled class file
*.class

# Log file
*.log

# Misc
.DS_Store

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Data
database/**/data/**

# Config Files
config/maven/**
config/waltz/**
!config/**/*sample*

# Build Output
build/output/**
!build/output/README.md